img
{
    width: 100%;
    height: 5%;
}
h2
{
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    color: black;
    font-family: 'Noto Sans Hanunoo', sans-serif;
}
p
{
    width: 100%;
    font-size: 16px;
    color: black;
    font-family: 'Noto Sans Hanunoo', sans-serif;
}