@media screen and (max-height: 545px){
    li a{
        padding: 5px;
    }
}

@media screen and (min-height: 546px){
    li a{
        padding: 9px;
    }
}


html
{
    background: white;
    font-family: 'Noto Sans Hanunoo', sans-serif;
}
h1
{
    text-align: center;
    font-family: 'Noto Sans Hanunoo', sans-serif;
}
body
{
    font-size: 29px;
    font-family: 'Noto Sans Hanunoo', sans-serif;
}
li a
{
    color: black;
    font-weight: bold;
    text-decoration: none;
    display: block;
    font-family: 'Noto Sans Hanunoo', sans-serif;
}
ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: white;
    overflow: hidden;
    font-family: 'Noto Sans Hanunoo', sans-serif;
}
li
{
    color: black;
    float: middle;
    text-align: center;
    font-family: 'Noto Sans Hanunoo', sans-serif;
    
}


li a:hover
{
    background-color: #F5F5F5;
    color: black;
    transition: 0.8s all;
}
p
{
    position: relative;
    text-align: center;
    font-size: 17px;
    color: black;
}
.button1
{
    font-size: 17px;
    color: black;
}
.button2
{
    font-size: 17px; 
    color: black;
}
div
{
    position: absolute;
    vertical-align: bottom;
    bottom: 0;
    font-size: 11px;
}